body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(home-outside-thailand-cornfield-rice.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* White with some transparency */
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); /* Adding a shadow effect */
}

.container h2 {
    color: #333;
}

.container p {
    color: #666;
}
