*{
	padding: 0;
	margin: 0px;
	box-sizing: border-box;
}
body{
	width:100%;
    height:100vh ;
    background-image: url(wp2916561-working-farm-wallpapers.jpg);
    background-position: center;
    background-size: auto;
} 

.container .form
{
	align-self: center;

}
.container
{
	/*border: 2px solid black;*/
   max width: 500px;
	width: 50%;
	background-color: white;
	margin: 20px auto;
	padding: 30px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.container .title
{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
	color: #88C599 ;
	text-transform: uppercase;
	text-align: center;
}
.container .form{
	width: 100%;


}
.container .form .input_field
{
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}
.container .form .input_field label
{
	/*border: 2px solid;*/
	width: 200px;
	margin-right: 10px;
	font-size: 14px;
}
.container .form .input_field .input,
.container  .form .input_field .textarea{
	width: 100%;
	border: 2px solid black;
	outline: none;
	border: 1px solid  #88C599;
	font-size: 15px;
	padding: 8px 10px;
	height: 40px;
	border-radius: 3px;
	transition: all 0.5s ease;
}
.container .form .input_field .textarea{
	resize: none;
	height: 100px;

}
.container .form .input_field .customselect
{
	position: relative;
	width: 100%;
	height: 37px;
}
.container .form .input_field .customselect select
{
	-webkit-appearance: none;
	appearance: none;
	/*position: relative;*/
	width: 100%;
	height: 100%;
	padding: 8px 10px;
	border: 1px solid #88C599;
	border: 1px solid  #88C599;
	border-radius: 3px;
	outline: none;

}
.container .form .input_field .customselect:before
{
	content: "";
	position: absolute;
	top: 12px;
	right: 10px;
	border: 8px solid black;
	border-color: #014421 transparent transparent transparent ;
	pointer-events: none;

}
.container .form .input_field .input:focus,
.container .form .input_field .textarea:focus,
.container .form .input_field select:focus
{
	border: 1px solid black;
}
.container .form .input_field p{
	font-size: 14px;
	color: #014421;

}
.container .form .input_field .check{
	width: 15px;
	height: 15px;
	position: relative;
	display: block;
	cursor: pointer;
}
.container .form .input_field .check input[type="checkbox"]
{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;

}
.container .form .input_field .check .checkmark{
	width: 15px;
	height: 15px;
	border: 1px solid #88C599;
	display: block;
	position: relative;
	/*background: #D071F9;*/
}
.container .form .input_field .check .checkmark:before{
	content: "";
	position: absolute;
	top: 1px;
	left: 2px;
	width: 5px;
	height: 2px;
	border: 2px solid;
	border-color: transparent transparent white white;
	transform: rotate(-45deg);
}
.container .form .input_field .check input[type="checkbox"]:checked ~ .checkmark
{
	background: #88C599;

}
.container .form .input_field .check input[type="checkbox"]:checked ~ .checkmark:before{
	display: block;
}



.container .input_field .btn

{
	width: 100%;
	padding: 8px 10px;
	font-size: 15px;
	border: 0;
	background: #88C599;
	color: white;
	cursor: pointer;
	border-radius: 3px;
	outline: none;


}


.container .form .input_field .btn:hover{
	background: #548F66;
}
@media(max-width: 420px)
{
	
  .container .form .input_field
  {
  	flex-direction: column;
  	align-items: flex-start;
  }

	
}

